<a href="https://colab.research.google.com/github/Madhu-36/Innomatics_Research_files/blob/main/innomatics_research_hackathon_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import json
with open('users.json', 'r') as f:
    data = json.load(f)

df = pd.DataFrame(data)

output_filename = 'users.xlsx'
df.to_excel(output_filename, index=False)

print(f"File converted: {output_filename}")

File converted: users.xlsx

converting of the Users.json file to user.xlsx is completed

In [16]:
import sqlite3
import pandas as pd

# Read the SQL script from the file
with open('/content/restaurants.sql', 'r') as f:
    sql_script = f.read()

conn = sqlite3.connect(':memory:')
conn.executescript(sql_script)

tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

if not tables.empty:

    table_name = tables.iloc[0, 0]
    rst = pd.read_sql(f"SELECT * FROM {table_name}", conn)

    output_filename = 'restaurants.xlsx'
    rst.to_excel(output_filename, index=False)
    print(f"file successfully completed: {output_filename}")
else:
    print("Error: No tables were found in the provided SQL script.")

file successfully completed: restaurants.xlsx

converting the restaurants.sql to restaurants.xlsv is completed

reading the orders csv file and  printing

In [17]:
orders = pd.read_csv('/content/orders.csv')
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

merging the datasets to form a single dataset

In [ ]:
merged_orders_users = orders.merge(df, on='user_id', how='left')
merged_orders_users.head()

merging the dataset with restaurant

In [ ]:
final_df = merged_orders_users.merge(rst, on='restaurant_id', how='left')
final_df.head()

making the final dataset

In [ ]:
output_filename = 'final_dataset.xlsx'
final_df.to_excel(output_filename, index=False)
print(f"Final dataset successfully saved to {output_filename}")

completed merging the dataset and made the final required dataset called
**final_dataset.xlsx**

For the MCQ's question

The solution getting from the below codes

In [ ]:
final_dataset=pd.read_excel('/content/final_dataset.xlsx')
print("completly read the final dataset")

for the first question. I have used the groupby and used the highest of he revenue

In [ ]:
gold_members_df = final_dataset[final_dataset['membership'] == 'Gold']
city_revenue = gold_members_df.groupby('city')['total_amount'].sum().reset_index()
highest_revenue_city = city_revenue.loc[city_revenue['total_amount'].idxmax()]
print(f"The city with the highest total revenue from Gold members is {highest_revenue_city['city']} with a total of {highest_revenue_city['total_amount']:.2f}")

for the second question i have used

In [ ]:
# Group by cuisine and calculate the mean of total_amount
avg_order_value_by_cuisine = final_dataset.groupby('cuisine')['total_amount'].mean().reset_index()

# Find the cuisine with the highest average order value
highest_avg_cuisine = avg_order_value_by_cuisine.loc[avg_order_value_by_cuisine['total_amount'].idxmax()]

print(f"The cuisine with the highest average order value is {highest_avg_cuisine['cuisine']} with an average of {highest_avg_cuisine['total_amount']:.2f}")

# Display the results sorted by average order value
display(avg_order_value_by_cuisine.sort_values(by='total_amount', ascending=False))

In [ ]:
# Group by user_id and sum the total_amount
user_total_spending = final_dataset.groupby('user_id')['total_amount'].sum().reset_index()

# Filter users with total spending > 1000
users_above_1000 = user_total_spending[user_total_spending['total_amount'] > 1000]

# Count the number of distinct users
distinct_user_count = users_above_1000['user_id'].nunique()

print(f"Number of distinct users with total spending > 1000: {distinct_user_count}")

In [ ]:
import pandas as pd

# Define the bins and labels for the rating ranges
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ['3.0 – 3.5', '3.6 – 4.0', '4.1 – 4.5', '4.6 – 5.0']

# Create a new column for the rating range
final_dataset['rating_range'] = pd.cut(final_dataset['rating'], bins=bins, labels=labels, include_lowest=True)

# Group by the rating range and sum the total_amount
# Added observed=False to resolve the FutureWarning
revenue_by_rating = final_dataset.groupby('rating_range', observed=False)['total_amount'].sum().reset_index()

# Find the range with the highest revenue
highest_revenue_range = revenue_by_rating.loc[revenue_by_rating['total_amount'].idxmax()]

print(f"The rating range with the highest total revenue is {highest_revenue_range['rating_range']} with a total of {highest_revenue_range['total_amount']:.2f}")

# Display the comparison
display(revenue_by_rating.sort_values(by='total_amount', ascending=False))

In [ ]:
# Filter for Gold members
gold_members_df = final_dataset[final_dataset['membership'] == 'Gold']

# Group by city and calculate the mean of total_amount
avg_revenue_city = gold_members_df.groupby('city')['total_amount'].mean().reset_index()

# Find the city with the highest average revenue
highest_avg_city = avg_revenue_city.loc[avg_revenue_city['total_amount'].idxmax()]

print(f"Among Gold members, the city with the highest average order value is {highest_avg_city['city']} with an average of {highest_avg_city['total_amount']:.2f}")

# Display the results sorted by average order value
display(avg_revenue_city.sort_values(by='total_amount', ascending=False))

In [ ]:
# Calculate number of distinct restaurants and total revenue per cuisine
cuisine_stats = final_dataset.groupby('cuisine').agg(
    distinct_restaurants=('restaurant_id', 'nunique'),
    total_revenue=('total_amount', 'sum')
).reset_index()

# Display the results
display(cuisine_stats.sort_values(by='distinct_restaurants'))

In [ ]:
# Calculate the total number of orders
total_orders = len(final_dataset)

# Calculate the number of orders placed by Gold members
gold_orders_count = len(final_dataset[final_dataset['membership'] == 'Gold'])

# Calculate the percentage
gold_percentage = (gold_orders_count / total_orders) * 100

print(f"Total orders: {total_orders}")
print(f"Gold member orders: {gold_orders_count}")
print(f"Percentage of orders by Gold members: {gold_percentage:.2f}%")
print(f"Rounded percentage: {round(gold_percentage)}%")

In [ ]:
# Group by restaurant (using ID and Name) to calculate stats
res_stats = final_dataset.groupby(['restaurant_id', 'restaurant_name_x']).agg(
    order_count=('order_id', 'count'),
    avg_order_value=('total_amount', 'mean')
).reset_index()

# Filter for restaurants with less than 20 orders
filtered_res = res_stats[res_stats['order_count'] < 20]

# Sort by average order value descending and display the top results
top_restaurants = filtered_res.sort_values(by='avg_order_value', ascending=False)
display(top_restaurants.head(10))

In [ ]:
options = ['Grand Cafe Punjabi', 'Grand Restaurant South Indian', 'Ruchi Mess Multicuisine', 'Ruchi Foods Chinese']

# Filter the restaurant stats for the specific options
selected_stats = res_stats[res_stats['restaurant_name_x'].isin(options)]

# Sort by average order value
display(selected_stats.sort_values(by='avg_order_value', ascending=False))

In [ ]:
# Group by membership and cuisine and sum the total_amount
revenue_by_combo = final_dataset.groupby(['membership', 'cuisine'])['total_amount'].sum().reset_index()

# Filter for the specific combinations mentioned in the options
options_list = [
    ('Gold', 'Indian'),
    ('Gold', 'Italian'),
    ('Regular', 'Indian'),
    ('Regular', 'Chinese')
]

# Create a boolean mask for filtering
mask = revenue_by_combo.apply(lambda x: (x['membership'], x['cuisine']) in options_list, axis=1)
filtered_combos = revenue_by_combo[mask]

# Display the results sorted by revenue
display(filtered_combos.sort_values(by='total_amount', ascending=False))

options_list = [
    ('Gold', 'Indian'),
    ('Gold', 'Italian'),
    ('Regular', 'Indian'),
    ('Regular', 'Chinese')
]

In [ ]:
# Convert order_date to datetime format
final_dataset['order_date'] = pd.to_datetime(final_dataset['order_date'], dayfirst=True)

# Extract the quarter
final_dataset['quarter'] = final_dataset['order_date'].dt.to_period('Q')

# Group by quarter and sum total_amount
quarterly_revenue = final_dataset.groupby('quarter')['total_amount'].sum().reset_index()

# Find the quarter with the highest revenue
highest_revenue_quarter = quarterly_revenue.loc[quarterly_revenue['total_amount'].idxmax()]

print(f"The quarter with the highest total revenue is {highest_revenue_quarter['quarter']} with a total of {highest_revenue_quarter['total_amount']:.2f}")

# Display the quarterly breakdown
display(quarterly_revenue.sort_values(by='total_amount', ascending=False))

In [ ]:
# Count the number of orders where membership is 'Gold' using final_df
gold_orders_count = len(final_df[final_df['membership'] == 'Gold'])
print(f"Total orders placed by Gold members: {gold_orders_count}")

In [ ]:
# Calculate total revenue generated from orders in Hyderabad city
hyderabad_total_revenue = round(final_df[final_df['city'] == 'Hyderabad']['total_amount'].sum())
print(f"Total revenue generated from orders in Hyderabad: {hyderabad_total_revenue}")

In [ ]:
# Count the number of distinct users who placed at least one order
distinct_users_count = final_df['user_id'].nunique()
print(f"Number of distinct users who placed at least one order: {distinct_users_count}")

In [ ]:
final_df = merged_orders_users.merge(rst, on='restaurant_id', how='left')
final_df.to_excel('final_dataset.xlsx', index=False)
final_dataset = pd.read_excel('final_dataset.xlsx')
print(f'Final dataset created and loaded with {len(final_dataset)} records.')
final_dataset.head()

In [ ]:
import pandas as pd

# 1. Count the number of orders where membership is 'Gold' using final_dataset
gold_orders_count = len(final_dataset[final_dataset['membership'] == 'Gold'])
print(f"Total orders placed by Gold members: {gold_orders_count}")

# 2. Calculate total revenue generated from orders in Hyderabad city using final_dataset
hyderabad_total_revenue = round(final_dataset[final_dataset['city'] == 'Hyderabad']['total_amount'].sum())
print(f"Total revenue generated from orders in Hyderabad: {hyderabad_total_revenue}")

# 3. Count the number of distinct users who placed at least one order using final_dataset
distinct_users_count = final_dataset['user_id'].nunique()
print(f"Number of distinct users who placed at least one order: {distinct_users_count}")

In [ ]:
# 1. City with highest total revenue from Gold members
gold_members = final_dataset[final_dataset['membership'] == 'Gold']
city_revenue = gold_members.groupby('city')['total_amount'].sum()
highest_revenue_city = city_revenue.idxmax()
highest_revenue_value = city_revenue.max()

# 2. Cuisine with highest average order value
cuisine_avg = final_dataset.groupby('cuisine')['total_amount'].mean()
highest_avg_cuisine = cuisine_avg.idxmax()
highest_avg_value = cuisine_avg.max()

# 3. Rating range with highest revenue
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ['3.0-3.5', '3.6-4.0', '4.1-4.5', '4.6-5.0']
final_dataset['rating_range'] = pd.cut(final_dataset['rating'], bins=bins, labels=labels, include_lowest=True)
rating_revenue = final_dataset.groupby('rating_range', observed=False)['total_amount'].sum()
highest_rating_range = rating_revenue.idxmax()

print("Summary Results:")
print(f"- Highest Revenue City (Gold): {highest_revenue_city} ({highest_revenue_value:.2f})")
print(f"- Highest Avg Order Value Cuisine: {highest_avg_cuisine} ({highest_avg_value:.2f})")
print(f"- Highest Revenue Rating Range: {highest_rating_range}")
print(f"- Total Gold Orders: {len(gold_members)}")
print(f"- Hyderabad Revenue: {round(final_dataset[final_dataset['city'] == 'Hyderabad']['total_amount'].sum())}")
print(f"- Distinct Users: {final_dataset['user_id'].nunique()}")

In [19]:
# Calculate the average order value for Gold members
gold_avg_ov = gold_members['total_amount'].mean()

print(f"The average order value for Gold members is: {gold_avg_ov:.2f}")

The average order value for Gold members is: 797.15

In [20]:
# Filter for orders with restaurant rating >= 4.5
high_rated_orders_count = len(final_dataset[final_dataset['rating'] >= 4.5])

print(f"Total orders for restaurants with rating ≥ 4.5: {high_rated_orders_count}")

Total orders for restaurants with rating ≥ 4.5: 3374

In [21]:
# Filter for Gold members in Chennai (the top revenue city)
gold_top_city_orders = final_dataset[(final_dataset['membership'] == 'Gold') & (final_dataset['city'] == 'Chennai')]

# Count the number of orders
order_count = len(gold_top_city_orders)

print(f"Number of orders placed in the top revenue city (Chennai) by Gold members: {order_count}")

Number of orders placed in the top revenue city (Chennai) by Gold members: 1337